@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

h3 {
  font-family: 'Cinzel';
}

a {
  background-color: rgb(40, 111, 144) !important;
  color: whitesmoke !important;
}

p {
  font-family: 'arial';
  font-weight: 600;
}